@font-face {
    font-family: "Open sans";
 src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
}

  @font-face {
      font-family: "Open sans";
 src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: bold;
  }

body {
	margin: 0;
	font-family: "Open sans", sans-serif;
	color: #222222;
	background-color: #ffffff;
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  margin-left: auto;
  margin-right: auto;

  background-image:
    url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;

}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;

  z-index: -1;
}

.header-logo {
  width: 245px;
  margin-top: 36px;
  padding-left: 1px;
}

.header-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 75px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding: 0 20% 0 20%;
  text-align: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #ffffff;
}

.menu-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  font-size: 13px;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.menu-list-item:hover {
  text-decoration: underline;
}

.menu-list-item:nth-child(n + 2) {
  padding-left: 30px;
}

p {
	line-height: 22px;
	margin-top: 0;
	margin-bottom: 20px;
  font-weight: normal;
}

.courses {
  margin: 0 auto;
  display: inline-block;
  width: 778px;
  float: left;
}

.course {
  border-top: 1px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 60px;
  margin-left: -75px;
}

.article-date {
  padding: 30px 0;
  display: inline-block;
  font-size: 12px;
  color: #7e7e7e;
  margin-right: 13px;
}

.author {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
}

.course-img {
  width: 380px;
  margin-top: 5px;
}

.course-name {
	margin: 0 auto;
	font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000 !important;
}

.course-link {
  color: #000000;
	text-decoration: none;
}

.course-link:hover {
  color: #c4b27c;
}

.course-tag {
  font-size: 14px;
  font-weight: bold;
  color: #b59f5b;
  text-transform: uppercase;
  text-align: center;
  margin-left: 1px;
  padding: 0;
  display: inline-block;
  box-sizing: border-box;
}

.course-tag:nth-child(n+1) {
  margin-right: 20px;
}

.course-tag:hover {
  text-decoration: underline;
}

.course-tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.course-tag-link {
  color: #c4b27c;
  text-decoration: none;
}

.course-info {
  box-sizing: border-box;
  border: 1px;
  width: 397px;
  padding-left: 30px;
}

.course-description {
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
}

aside {
  width: 272px;
  display: inline-block;
  float: right;
}

.new-posts {
  margin-top: 60px;
}

.last-post-date {
	display: block;
  margin: 0;
  font-size: 12px;
  color: #7e7e7e;
}

.last-post-title {
  margin: 0;
	font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.last-post-link {
	color: #000000;
	text-decoration: none;
}

.last-post-link:hover {
  color: #b59f5b;
}

.last-post-preview {
  float: left;

  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-left: 1px;
}

.last-post {
  display: inline-block;
  margin-top: 22px;
  padding-right: 15px;
  width: 100%;
  height: 70px;
  font-size: 15px;

}

.new-post-title {
  margin: auto;
  font-size: 14px;
  font-style: bold;
  text-transform: uppercase;
  text-align: center;
}

.new-post-title::after {
  content:"";
  display: flex;
  width: auto;
  height: 15px;
  margin: 0 38% 5px;
  border-bottom: 3px solid #e1d9bd;
}

.search {
  margin-top: 60px;
}
.search-button {
  box-sizing: border-box;
  min-height: 48px;
  width: 48px;
  border: none;

  color: #ffffff;
  background-color: #b59f5b;

    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-button:hover {
   background-color: #000000;
}

.search-field {
  box-sizing: border-box;
  width: 224px;
  margin: 0 auto;
  border: none;
  padding-left: 20px;

  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
  height: 48px;
  background-color: #f4f7f6;
}

.search-field:focus {
  outline: 1px solid #c4b27c;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.subscribe {
  margin-top: 60px;
}

.subscribe-title {
  font-size: 14px;
  text-align: center;
  font-style: bold;
  text-transform: uppercase;
}

.subscribe-title::after {
  content:"";
   display: flex;
  width: auto;
  height: 15px;
  margin: 0 38% 22px;
  border-bottom: 3px solid #e1d9bd;
}

.subscribe-field {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 20px;
  border: none;

  display: block;
  vertical-align: middle;

  font-size: 14px;
  height: 48px;
  background-color: #f4f7f6;
}

.subscribe-field:focus {
  outline: 1px solid #c4b27c;
}

.subscribe-button {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  margin: 0;
  padding-right: 15px;
  border: 1px;
  text-transform: uppercase;

  font-size: 16px;
  color: #ffffff;
  background-color: #b59f5b;
}

.subscribe-button:hover {
   background-color: #000000;
}

.tags {
  margin-top: 60px;
}

.tags-title {
  font-size: 14px;
  text-align: center;
  font-style: bold;
  text-transform: uppercase;
}

.tags-title::after {
 content:"";
  display: flex;
  width: auto;
  height: 15px;
  margin: 0 38% 20px;
  border-bottom: 3px solid #e1d9bd;
}

.tag {
  text-decoration: none;
  color: #000000
}

.tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.tag-list-item {
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  display: inline-block;
  box-sizing: content-box;
  padding: 5px 10px;
  margin: 3px 3px;
  border: 3px solid #eeeeee;
}

.tag-list-item:hover {
border: 3px solid #b59f5b;
}

.categories {
  margin-top: 57px;
}

.category-title {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.category-title::after {
  content:"";
   display: flex;
  width: auto;
  height: 15px;
  margin: 0 38%;
  border-bottom: 3px solid #e1d9bd;
}

.category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category-list-link {
  text-decoration: none;
  color: #000000;
}

.category-list-link:hover {
  color: #b59f5b;
}

.category-list-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 16px 1px;

  font-size: 14px;
  font-weight: bold;
  border-left: none;
  border-right: none;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.category-count {
  padding: 4px;
  color: #b59f5b;
}


footer {
  margin-top: 60px;
}

.contacts {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.contacts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7f6;
}

.dribble {
  display: block;
  width: 25px;
  height: 25px;
  padding: 0 15px;
  background-image:
    url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
    background-repeat: no-repeat;
  background-size: 25px;
}

.pinterest {
  display: block;
 width: 25px;
  height: 25px;
  padding: 0 15px;
  background-image:
    url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
    background-repeat: no-repeat;
  background-size: 25px;
}

.tumblr {
  display: block;
  width: 25px;
  height: 25px;
  padding: 0 15px;
  background-image:
    url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
    background-repeat: no-repeat;
  background-size: 25px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyright {
  display: inline-block;
  box-sizing: border-box;
  width: 1170px;
  height: 12px;
  margin: 30px 0 40px 0;
  float: center;

  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.copyright-link {
  text-decoration: none;
  color: #999999;
}