<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/site2.css' %}">
</head>
<body>
  <header class="header">
  <div class="container">
    <img src="https://netology-code.github.io/html-2-diploma/sources/images/noemi-logo.svg" class="header-logo" alt="NOEMI">
    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-list-item">
          <a class="menu-link" href="/">Главная</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-link" href="#0">Посты</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-link" href="#0">Статьи</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-link" href="#0">Теги</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-link" href="#0">Темы</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-link" href="#0">Контакты</a>
        </li>
      </ul>
    </nav>
     <h1 class="header-title" #style="color: #ffffff">Блог о творчестве, спорте и образе жизни</h1>
  </div>
</header>
<div class="container">
<main class="courses">
  <article class="course">
      <img class="course-img"
           src="https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg"
           alt="Утренний пляж">
    <div class="course-info">
      <ul class="course-tag-list">
        <li class="course-tag"><a href="#" class="course-tag-link">Travel</a></li>
        <li class="course-tag"><a href="#" class="course-tag-link">Health</a></li>
      </ul>
      <h2 class="course-name"><a href="#" class="course-link">10 мест, ради которых стоит проснуться на рассвете</a>
      </h2>
      <time class="article-date" datetime="2019-06-10">10 июня 2019</time><span class="author">неизвестный автор</span>
      <div class="course-description">
        <p>
          Итак, вы в Питере. Раннее утро. Лед с рек и каналов уже ушел, запущены фонтаны города… Музеи еще закрыты. Что посмотреть?
        </p>
      </div>
    </div>
  </article>
  <article class="course">
    <img class="course-img"
           src="https://netology-code.github.io/html-2-diploma/sources/images/last-post2.jpg"
           alt="Йога на пляже">
    <div class="course-info">
      <ul class="course-tag-list">
        <li class="course-tag"><a href="#" class="course-tag-link">Health</a></li>
        <li class="course-tag"><a href="#" class="course-tag-link">Lifestyle</a></li>
      </ul>
      <h2 class="course-name"><a href="#" class="course-link">Йога для начинающих в домашних условиях</a></h2>
      <time class="article-date" datetime="2019-06-10">10 июня 2019</time><span class="author">неизвестный автор</span>
      <div class="course-description">
        <p>
         Расскажем, какие упражнения выбрать и как сделать коврик для занятий йогой из того, что можно найти в шкафу.
        </p>
      </div>
    </div>
  </article>
  <article class="course">
    <img class="course-img"
           src="https://netology-code.github.io/html-2-diploma/sources/images/last-post3.jpg"
           alt="Концерт на улице">
    <div class="course-info">
       <ul class="course-tag-list">
        <li class="course-tag"><a href="#" class="course-tag-link">Music</a></li>
      </ul>
      <h2 class="course-name"><a href="#" class="course-link">Лучшие музыкальные фестивали этого лета</a></h2>
      <time class="article-date" datetime="2019-06-10">10 июня 2019</time><span class="author">неизвестный автор</span>
      <div class="course-description">
        <p>Лето на носу, а с ним и музыкальные фестивали. На каком же из них вы разобъете свою палатку?</p>
        <p>Мы составили список лучших летних фестивалей по всему миру.</p>
      </div>
    </div>
  </article>
  <article class="course">
    <img class="course-img"
           src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg"
           alt="Еда">
    <div class="course-info">
       <ul class="course-tag-list">
        <li class="course-tag"><a href="#" class="course-tag-link">Lifestyle</a></li>
        <li class="course-tag"><a href="#" class="course-tag-link">Food</a></li>
       </ul>
       <h2 class="course-name"><a href="#" class="course-link">Наукоёмкий подход к кулинарии</a></h2>
       <time class="article-date" datetime="2019-06-10">10 июня 2019</time><span class="author">неизвестный автор</span>
       <div class="course-description">
        <p>
          Узнаем основы проектирования новых пищевых и около-пищевых опытов, вскроем физику, химию и микробиологию еды.
        </p>
      </div>
    </div>
  </article>
  <article class="course">
    <img class="course-img"
           src="https://netology-code.github.io/html-2-diploma/sources/images/last-post5.jpg"
           alt="Подушка">
    <div class="course-info">
       <ul class="course-tag-list">
        <li class="course-tag"><a href="#" class="course-tag-link">Lifestyle</a></li>
        <li class="course-tag"><a href="#" class="course-tag-link">interior</a></li>
        <li class="course-tag"><a href="#" class="course-tag-link">art</a></li>
      </ul>
      <h2 class="course-name"><a href="#" class="course-link">Делаем модные принты на подушках для интерьера</a></h2>
      <time class="article-date" datetime="2019-06-10">10 июня 2019</time>
      <div class="course-description">
        <p>
          Подушки для дивана целесообразнее заказать в съемных чехлах на молнии, если потребуется чистка подушек, проще снять чехлы, чем везти подушку в химчистку
        </p>
      </div>
    </div>
  </article>
  <article class="course">
    <img class="course-img"
           src="https://netology-code.github.io/html-2-diploma/sources/images/last-post6.jpg"
           alt="Горный спорт">
    <div class="course-info">
      <ul class="course-tag-list">
        <li class="course-tag"><a href="#" class="course-tag-link">Travel</a></li>
        <li class="course-tag"><a href="#" class="course-tag-link">lifestyle</a></li>
      </ul>
      <h2 class="course-name"><a href="#" class="course-link">Как первый раз отправиться в горы?</a></h2>
      <time class="article-date" datetime="2019-06-10">10 июня 2019</time><span class="author">неизвестный автор</span>
      <div class="course-description">
        <p>
          Для начала нужно определиться, в каком формате пройдёт ваше путешествие. Это зависит от многих факторов, не только ваших желаний и интересов.
        </p>
      </div>
    </div>
  </article>
  <article class="course">
    <img class="course-img"
           src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg"
           alt="Еда">
    <div class="course-info">
      <ul class="course-tag-list">
        <li class="course-tag"><a href="#" class="course-tag-link">Lifestyle</a></li>
        <li class="course-tag"><a href="#" class="course-tag-link">food</a></li>
      </ul>
      <h2 class="course-name"><a href="#" class="course-link">Наукоёмкий подход к кулинарии</a></h2>
      <time class="article-date" datetime="2019-06-10">10 июня 2019</time><span class="author">неизвестный автор</span>
      <div class="course-description">
        <p>
          Узнаем основы проектирования новых пищевых и около-пищевых опытов, вскроем физику, химию и микробиологию еды.
        </p>
      </div>
    </div>
  </article>
</main>
<aside>
  <section class="new-posts">
    <h2 class="new-post-title">Новые посты</h2>
    <article class="last-post">
    <img class="last-post-preview" src="https://netology-code.github.io/html-2-diploma/sources/images/2.jpg" alt="Утренний пляж">
    <div class="last-post-header">
    <time class="last-post-date" datetime="2022-06-14">14 июня 2019</time>
			<h2 class="last-post-title">
			<a href="#" class="last-post-link">10 мест, ради которых стоит проснуться</a>
			</h2>
    </div>
   </article>
    <article class="last-post">
    <img class="last-post-preview" src="https://netology-code.github.io/html-2-diploma/sources/images/151.jpg" alt="Йога на пляже">
		<div class="last-post-header">
      <time class="last-post-date" datetime="2022-06-14">14 июня 2019</time>
			<h2 class="last-post-title">
        <a href="#" class="last-post-link">Йогда для домашних</a>
			</h2>
		</div>
   </article>
    <article class="last-post">
    <img class="last-post-preview" src="https://netology-code.github.io/html-2-diploma/sources/images/45.jpg" alt="Кресло и пианино">
		<div class="last-post-header">
      <time class="last-post-date" datetime="2022-06-14">14 июня 2019</time>
			<h2 class="last-post-title">
				<a href="#" class="last-post-link">Как мы превратили классное место в балкон</a>
			</h2>
		</div>
    </article>
    <article class="last-post">
      <img class="last-post-preview" src="https://netology-code.github.io/html-2-diploma/sources/images/501.jpg" alt="Еда">
      <div class="last-post-header">
        <time class="last-post-date" datetime="2022-06-14">14 июня 2019</time>
				<h2 class="last-post-title">
          <a href="#" class="last-post-link">Кулинарный подход к науке</a>
				</h2>
			</div>
    </article>
    <article class="last-post">
      <img class="last-post-preview" src="https://netology-code.github.io/html-2-diploma/sources/images/7.jpg" alt="Девушки с длинными волосами">
			<div class="last-post-header">
        <time class="last-post-date" datetime="2022-06-14">14 июня 2019</time>
				<h2 class="last-post-title">
          <a href="#" class="last-post-link">Лучшие прически для распущенных волос</a>
				</h2>
			</div>
    </article>
  </section>
  <section class="search">
    <form class="search-form">
      <input class="search-field" name="query" placeholder="Найти..." id="search-field" required>
      <label for="search-field"><span class="visually-hidden">Поле поиска</span></label>
    <button class="search-button" id="search-button"><span class="visually-hidden">Кнопка поиска</span></button>
      <label for="search-button"></label>
    </form>
  </section>
  <section class="subscribe">
    <h2 class="subscribe-title">Рассылка</h2>
    <form class="subscribe-form">
    <label for="subscribe-field">
      <span class="visually-hidden">Кликни меня!</span>
      <input class="subscribe-field" type="email" placeholder="Ваш email-адрес" required>
    </label>
    <button class="subscribe-button">Подписаться</button>
    </form>
  </section>
  <section class="tags">
    <h2 class="tags-title">Теги</h2>
    <ul class="tag-list">
      <li class="tag-list-item">
        <a href="#" class="tag">fashion</a>
      </li>
      <li class="tag-list-item">
        <a href="#" class="tag">music</a>
      </li>
      <li class="tag-list-item">
        <a href="#" class="tag">lifestyle</a>
      </li>
      <li class="tag-list-item">
        <a href="#" class="tag">art</a>
      </li>
      <li class="tag-list-item">
        <a href="#" class="tag">interior</a>
      </li>
      <li class="tag-list-item">
        <a href="#" class="tag">travel</a>
      </li>
      <li class="tag-list-item">
        <a href="#" class="tag">food</a>
      </li>
      <li class="tag-list-item">
        <a href="#" class="tag">health</a>
      </li>
    </ul>
  </section>
  <section class="categories">
    <h3 class="category-title">Темы</h3>
    <ul class="category-list">
      <li class="category-list-item" style="border: none"><a href="#" class="category-list-link">Красота</a><sup class="category-count">12</sup></li>
      <li class="category-list-item"><a href="#" class="category-list-link">Здоровье</a><sup class="category-count">4</sup></li>
      <li class="category-list-item"><a href="#" class="category-list-link">Образ жизни</a><sup class="category-count">145</sup></li>
      <li class="category-list-item"><a href="#" class="category-list-link">Музыка</a><sup class="category-count">28</sup></li>
      <li class="category-list-item"><a href="#" class="category-list-link">Спорт</a><sup class="category-count">62</sup></li>
      <li class="category-list-item"><a href="#" class="category-list-link">Йога</a><sup class="category-count">8</sup></li>
    </ul>
  </section>
</aside>
<footer>
  <div class="contacts">
    <ul class="contacts-list">
      <li><a href="#" class="dribble"><span class="visually-hidden">Dribble</span></a></li>
      <li><a href="#" class="pinterest"><span class="visually-hidden">Pinterest</span></a></li>
      <li><a href="#" class="tumblr"><span class="visually-hidden">Tubmlr</span></a></li>
    </ul>
  </div>
  <div class="copyright">
     <span class="copyright"><a href="#" class="copyright-link">Copyright © 2009–2019 City Blog LLC.</a></span>
  </div>
</footer>
</div>
</body>
</html>
